.container {
    text-align: center;
    min-height: 100%;
    padding: 10px 0;
    width: 100%;
    color: white;
    background-color: #0d0d0d;
}

.link {
    margin: 10px;
    cursor: pointer;
    font-size: 12px;
}
