.container {
    text-align: center;
    min-height: 100%;
    padding: 10px 0;
    width: 100%;
    color: white;
    /* background-color: palevioletred; */
    background-color: black;
}

.link {
    margin: 10px;
    cursor: pointer;
    font-size: 14px;
}
