@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Continuum';
  src: url('../public/assets/Continuum/contb.ttf');
  src: url('../public/assets/Continuum/contl.ttf');
  src: url('../public/assets/Continuum/contm.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../public/assets/Inconsolata/Inconsolata-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata-ExtraLight';
  src: url('../public/assets/Inconsolata/Inconsolata-ExtraLight.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata-Light';
  src: url('../public/assets/Inconsolata/Inconsolata-Light.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata-Bold';
  src: url('../public/assets/Inconsolata/Inconsolata-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata-Black';
  src: url('../public/assets/Inconsolata/Inconsolata-Black.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BasementGrotesque-Black';
  src: url('../public/assets/BasementGrotesque/BasementGrotesque-Black.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hauora';
  src: url('../public/assets/Hauora/Hauora-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMachina';
  src: url('../public/assets/NeueMachina/NeueMachina-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMachina-UltraBold';
  src: url('../public/assets/NeueMachina/NeueMachina-Ultrabold.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PPNeueMachina-InktrapLight';
  src: url('../public/assets/NeueMachina/PPNeueMachina-InktrapLight.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PPNeueMachina-PlainRegular';
  src: url('../public/assets/NeueMachina/PPNeueMachina-PlainRegular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PPNeueMachina-InktrapLightItalic';
  src: url('../public/assets/NeueMachina/PPNeueMachina-InktrapLightItalic.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PPNeueMachina-PlainRegularItalic';
  src: url('../public/assets/NeueMachina/PPNeueMachina-PlainRegularItalic.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PPNeueMachina-InktrapUltrabold';
  src: url('../public/assets/NeueMachina/PPNeueMachina-InktrapUltrabold.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AndaleMono';
  src: url('../public/assets/AndaleMono/AndaleMono.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AndaleMono-Italic';
  src: url('../public/assets/AndaleMono/AndaleMono-Italic.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Exo2';
  src: url('../public/assets/Exo2/Exo2-VariableFont_wght.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Teko';
  src: url('../public/assets/Teko/Teko-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif';
  src: url('../public/assets/PTSerif/PTSerif-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif-Bold';
  src: url('../public/assets/PTSerif/PTSerif-Bold.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('../public/assets/RobotoCondensed/RobotoCondensed-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url('../public/assets/RobotoCondensed/RobotoCondensed-Bold.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Italic';
  src: url('../public/assets/RobotoCondensed/RobotoCondensed-Italic.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Abel';
  src: url('../public/assets/Abel/Abel-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair';
  src: url('../public/assets/Playfair/PlayfairDisplay.ttf');
  font-weight:500;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya';
  src: url('../public/assets/Alegreya/Alegreya-VariableFont_wght.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('../public/assets/CormorantGaramond/CormorantGaramond-Medium.ttf');
  font-weight: 400;
  font-style: normal;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: PPNeueMachina-PlainRegular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  color: white;
  /* color: #fdfadf; */
  background-color: black;
  height: 100vh;
}

#__next {
  /* background-color: #111111; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.photos {
  font-family: PPNeueMachina-PlainRegular;
  color: white;
  text-align: center;
  margin: 80px auto 0;
  width: 100%;
}

.photos h1 {
  font-size: 36px;
}

.photos h3 {
  font-size: 26px;
}

.photo, .video {
  margin: 10px;
  display: inline;
  cursor: pointer;
}

.video {
  overflow: hidden;
  height: 200px;
}

.video video {
  display: inline;
  width: 200px;
}

.policies .prompt {
  font-family: PPNeueMachina-PlainRegularItalic;
  color: #96e0ff;
  font-size: 18px;
}

.policies a {
  color: #f78fdf;
}

.policies .answer {
  margin-bottom: 20px;
}

.policies h3 {
  font-family: PPNeueMachina-PlainRegular;
  color: #f78fdf;
  font-size: 26px;
}

.policies p {
  font-size: 18px;
  color: white;
}

.newsletter-link {
  color: #00E8FF
}

.menu .title {
  font-family: AndaleMono-Italic;
  color: white;
  margin-bottom: 10px;
}

.menu .subtext {
  font-family: AndaleMono-Italic;
}

.menu .name-and-price {
  /* font-size: 22px;
  line-height: 28px; */
  color: white;
}

.menu h3 {
  font-family: AndaleMono-Italic;
  text-transform: uppercase;
  text-align: right;
  width: 66%;
  /* font-size: 22px; */
  display: inline-block;
  /* color: #f78fdf; */
}

.menu .price {
  font-family: AndaleMono;
  width: 33%;
  text-align: right;
  display: inline-block;
}

.menu .price.sub-price {
  display: block;
  width: 100%;
}

.menu p {
  color: white;
  font-family: AndaleMono-Italic;
}

.menu .footer {
  font-family: AndaleMono-Italic;
  font-size: 14px;
  /* color: #fdfadf; */
}

.tables .subtitle {
  color: #f78fdf;
  margin-top: 20px;
}

.tables div {
  display: inline-block;
}

.tables .price {
  color: #96e0ff;
  float: right;
}

.tables-photos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.terms p {
  color: white;
  margin-top: 20px;
}

.terms b {
  font-family: PPNeueMachina-PlainRegular;
  color: white;
}

.terms a {
  text-decoration: underline;
}

.terms ul li {
  list-style-type: circle;
  list-style-position: inside;
  color: white;
}

.terms {
  padding-bottom: 80px;
}

.hearts {
  font-size: 18px;
}

.subscribe {
  font-size: 16px;
}

#mc_embed_signup {
  animation: 1s ease-out 0s 1 fadein;
  font-family: 'NeueMachina';
  font-size: 16px;
  padding: 30px 35px;
  display: flex;
  color: white;
  /* background-color: #111111; */
  width: 100%;
}

.mc-email-group {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#mc_embed_signup h3 {
  font-size: 20px;
  letter-spacing: 0.2px;
  margin: 0px 0;
  text-align: center;
}

#mc_embed_signup h4 {
  font-size: 16px;
  letter-spacing: 0.2px;
  margin-top: 15px;
  text-align: center;
}

#mc_embed_signup .icon {
  font-size: 15px;
}

#mc_embed_signup .sign-up {
  font-family: 'NeueMachina';
  opacity: 0.9;
  cursor: pointer;
  color: white;
  margin-top: 4px;
  font-size: 16px;
  height: 38px;
  width: 90px;
  background-color: black;
  border: 1px solid white;
  display: inline-block;
  padding: 2px 0 0px;
  border-radius: 4px;
}

#mc_embed_signup input:focus {
  background: transparent;
  border-color: none;
}

#mc_embed_signup input:active {
  background: transparent !important;
  border: none;
}

#mc_embed_signup #mce-EMAIL:-webkit-autofill,
#mc_embed_signup #mce-EMAIL:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.arrow {
  position: absolute;
  bottom: 30px;
  left: 115px;
  font-size: 22px;
  font-family: 'NeueMachina';
}

#mc_embed_signup #mce-success-response {
}

#mc_embed_signup .email {
  height: 38px;
  border-radius: 4px;
  margin: 4px 0;
  padding: 5px;
  background-color: transparent;
  border: 1px solid white;
  width: 100%;
}

#mc_embed_signup #mc-field-email {
  color: white;
  border: none;
  min-height: 48px;
  text-align: left;
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 10px;
}

#mc_embed_signup form {
  text-align: inherit !important;
  width: 100%;
}

#mce-error-response, #mce-success-response {
  font-size: 16px;
  margin-top: 10px;
  color: white;
}

#mce-success-response {
  color: white;
}

#mc_embed_signup .mce_inline_error {
  color: white !important;
  padding: 10px 0 !important;
  margin-bottom: 0 !important;
  margin-top: 5px !important;
  font-size: 16px !important;
  border-color: white !important;
  background-color: transparent !important;
  font-weight: normal !important;
}

#mc_embed_signup #mce-EMAIL {
  font-family: 'NeueMachina';
  padding: 15px 8px !important;
  font-size: 16px !important;
  /* background-color: #111111 !important; */
  color: white !important;
}

#mc_embed_signup #mce-EMAIL::placeholder {
  color: white;
  opacity: 0.5;
}

.genres {
  padding: 5px 0 0;
  text-align: center;
}

.genres-label {
  letter-spacing: 0.2px;
  font-size: 14px;
}

.genres-list {
  font-family: 'Hauora';
  margin-top: 5px;
  color: #a8f94f;
  padding: 0;
  font-size: 12px;
}

.genre {
  margin: 3px 0;
  display: flex;
}

.genre input {
  margin-top: 6px;
}

.genre label {
  margin-top: 3px;
  margin-left: 8px;
}

/* CSS For the email signup page */
.email-signup #mc_embed_signup {
  display: inline-block;
  font-size: 16px;
}

.email-signup #mc_embed_signup h3 {
  font-size: 14px;
}

@media only screen and (max-width: 300px) {
  #mc_embed_signup {
    min-width: 0;
  }
}

@media only screen and (max-width: 768px) {
  .policies .prompt {
    font-size: 16px;
  }

  .policies h3 {
    font-size: 20px;
  }

  .policies p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1024px) {
  #mc_embed_signup {
    padding: 10px 30px 30px;
  }

  #mc-field-email {
    margin-top: 1px !important;
  }

  #mc_embed_signup h3 {
    /* border-bottom: 1px dashed grey; */
    padding-bottom: 5px;
    font-size: 18px;
  }

  #mc_embed_signup h4 {
    margin-top: 5px;
  }

  #mc_embed_signup .sign-up {
    border: 1px solid white;
    margin: 5px auto;
    text-align: center;
    font-size: 16px !important;
  }

  .arrow {
    display: none;
  }

  #mce-error-response, #mce-success-response {
    color: white;
  }

  .hearts {
    display: none;
  }

  .genres {
    flex-shrink: 0;
  }

  .genres-list {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .genre {
    letter-spacing: 0.5px;
    display: flex;
    margin: 2px 6px;
    justify-content: center;
  }

  .genres-label {
    font-size: 12px;
  }
}

/* Privacy Policy */

.privacy {
  color: white;
}

[data-custom-class='body'],
[data-custom-class='body'] * {
  color: white !important;
  background: transparent !important;
}

[data-custom-class='body'] td {
  border-color: darkgray !important;
  padding: 10px;
}

[data-custom-class='title'],
[data-custom-class='title'] * {
  font-size: 26px !important;
}

[data-custom-class='subtitle'],
[data-custom-class='subtitle'] * {
  font-size: 18px !important;
}

[data-custom-class='heading_1'],
[data-custom-class='heading_1'] * {
  font-size: 19px !important;
}

[data-custom-class='heading_2'],
[data-custom-class='heading_2'] * {
  font-size: 17px !important;
}

[data-custom-class='body_text'],
[data-custom-class='body_text'] * {
  font-size: 18px !important;
}

[data-custom-class='link'],
[data-custom-class='link'] * {
  color: #87bfc7 !important;
  font-size: 14px !important;
  word-break: break-word !important;
}
