@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Continuum';
  src: url('../public/assets/Continuum/contb.ttf');
  src: url('../public/assets/Continuum/contl.ttf');
  src: url('../public/assets/Continuum/contm.ttf');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  color: white;
  height: 100vh;
}

#__next {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hearts {
  font-size: 18px;
}

.subscribe {
  font-size: 16px;
}

#mc_embed_signup {
  background-color: #0d0d0d;
  font-size: 12px;
  padding: 20px 30px 25px;
  display: flex;
  color: white;
  width: 100%;
}

#mc_embed_signup h3 {
  font-weight: normal;
  font-size: 12px;
  margin: 5px 0;
}

#mc_embed_signup .icon {
  font-size: 15px;
}

#mc_embed_signup .sign-up {
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 5px 10px;
  border: none;
  opacity: 0.9;
  cursor: pointer;
  width: 100%;
  color: white;
  font-size: 14px;
}

#mc_embed_signup #mce-success-response {
}

#mc_embed_signup .email {
  border-radius: 3px;
  height: 30px;
  margin: 5px 0;
  padding: 5px;
  width: 100%;
  border: 1px solid white;
}

#mc_embed_signup #mc-field-email {
  margin-top: 10px;
  color: black;
  border: none;
  min-height: 48px;
  width: 100%;
}

#mc_embed_signup form {
  text-align: inherit !important;
  width: 100%;
}

#mce-error-response, #mce-success-response {
  font-size: 12px;
  margin-bottom: 10px;
}

#mce-success-response {
  color: greenyellow;
}

#mc_embed_signup .mce_inline_error {
  color: orangered !important;
  padding: 10px 0 !important;
  margin-bottom: 0 !important;
  margin-top: 5px !important;
  font-size: 12px !important;
  background-color: transparent !important;
  font-weight: normal !important;
}

#mc_embed_signup #mce-EMAIL {
  padding: 10px !important;
  font-size: 14px !important;
  background-color: white !important;
  color: black !important;
}

.genres {
  margin: 10px 0 23px;
}

.genre {
  margin: 8px 0;
  display: flex;
}

.genre input {
  margin-top: 3px;
}

.genre label {
  margin-left: 5px;
}

/* CSS For the email signup page */
.email-signup #mc_embed_signup {
  font-size: 14px;
}

.email-signup #mc_embed_signup h3 {
  font-size: 14px;
}

@media only screen and (max-width: 300px) {
  #mc_embed_signup {
    min-width: 0;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 1024px) {
  #mc_embed_signup {
    background-color: #0d0d0d;
    display: inline-block;
    padding: 0px 20px;
  }

  #mc_embed_signup h3 {
    font-size: 14px;
    color: white;
  }

  #mc_embed_signup .sign-up {
    background-color: #0d0d0d;
    border: 1px solid white;
    margin: 5px auto;
  }

  #mc_embed_signup .mce_inline_error {
    margin-top: 0 !important;
  }

  #mce-error-response, #mce-success-response {
    color: white;
  }

  .hearts {
    display: none;
  }

  .genre {
    justify-content: center;
  }
}