.scrolled.nav {
  /* background-color: #0d0d0d; */
  height: 60px;
  transition: transform 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-property: background-color;
}

.lockup {
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.scrolled.lockup {
  opacity: 0;
  visibility: hidden;
}

.scrolled.logo {
  display: none;
}

.scrolled.links {
  display: inline-block;
}

.scrolled.socialLinks {
  display: inline-block;
}